In [2]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

In [4]:
#stable coin data

busd_path = "Resources/busd.csv"
dai_path = "Resources/dai.csv"
usdc_path = "Resources/usdc.csv"
usdt_path = "Resources/usdt.csv"

busd_df = pd.read_csv(busd_path, infer_datetime_format=True)
dai_df = pd.read_csv(dai_path, infer_datetime_format=True)
usdc_df = pd.read_csv(usdc_path, infer_datetime_format=True)
usdt_df = pd.read_csv(usdt_path, infer_datetime_format=True)


busd_df.set_index('Date', inplace=True)
dai_df.set_index('Date', inplace=True)
usdc_df.set_index('Date', inplace=True)
usdt_df.set_index('Date', inplace=True)

# Drop the columns that are not need 

busd_df = busd_df.drop(columns=['Change %'])
dai_df = dai_df.drop(columns=['Change %'])
usdc_df = usdc_df.drop(columns=['Change %'])
usdt_df = usdt_df.drop(columns=['Change %'])


#join into one table

stable_coin_df = pd.concat([busd_df, dai_df, usdc_df, usdt_df], axis=1, join='outer', keys=('BUSD', 'DAI', 'USDC', 'USDT'))
stable_coin_df.dropna()

             BUSD                                      DAI                  \
            Price    Open    High     Low     Vol.   Price    Open    High
Date
22-Sep-19  0.9999  0.9999  1.0000  0.9999  127.97K  1.0069  1.0055  1.0087
23-Sep-19  1.0000  0.9999  1.0000  0.9999    1.24M  1.0015  1.0069  1.0069
24-Sep-19  0.9997  1.0000  1.0500  0.9902    3.39M  0.9946  1.0015  1.0157
25-Sep-19  0.9997  0.9997  1.0010  0.9942  625.27K  1.0050  0.9946  1.0120
26-Sep-19  0.9999  0.9997  1.0020  0.9997  702.10K  0.9987  1.0050  1.0087
...           ...     ...     ...     ...      ...     ...     ...     ...
27-Mar-22  0.9997  0.9996  0.9997  0.9995  415.03M  0.9985  1.0008  1.0017
28-Mar-22  0.9996  0.9996  0.9997  0.9994  813.19M  0.9973  0.9980  1.0000
29-Mar-22  0.9996  0.9996  0.9996  0.9995  694.16M  0.9996  0.9973  1.0005
30-Mar-22  0.9998  0.9996  0.9998  0.9995  712.65M  0.9997  0.9996  1.0016
31-Mar-22  0.9997  0.9997  0.9998  0.9995  879.79M  0.9981  0.9997  1.0018

                              USDC                                     USDT  \
              Low     Vol.   Price    Open    High     Low     Vol.   Price
Date
22-Sep-19  1.0000    1.35K  1.0001  1.0008  1.0017  0.9997   14.60M  0.9999
23-Sep-19  1.0015    0.11K  1.0007  1.0001  1.0026  0.9997   20.36M  0.9993
24-Sep-19  0.9910   11.70K  0.9965  1.0007  1.0075  0.9900   36.44M  1.0028
25-Sep-19  0.9900    4.59K  0.9996  0.9965  1.0002  0.9962   18.98M  1.0005
26-Sep-19  0.9914    5.18K  0.9998  0.9996  1.0019  0.9992   18.02M  0.9999
...           ...      ...     ...     ...     ...     ...      ...     ...
27-Mar-22  0.9981   60.38K  0.9996  0.9996  0.9997  0.9995  150.80M  1.0004
28-Mar-22  0.9921  202.33K  0.9996  0.9996  0.9998  0.9994  278.71M  1.0005
29-Mar-22  0.9956   90.50K  0.9997  0.9996  0.9997  0.9995  199.99M  1.0004
30-Mar-22  0.9964   95.38K  0.9997  0.9997  1.0000  0.9995  225.83M  1.0003
31-Mar-22  0.9970  127.46K  0.9998  0.9997  0.9999  0.9995  231.00M  1.0003


             Open    High     Low     Vol.
Date
22-Sep-19  0.9998  1.0003  0.9986  675.55K
23-Sep-19  0.9999   1.001  0.9981    1.90M
24-Sep-19  0.9993   1.009  0.9960    5.45M
25-Sep-19  1.0028   1.003  0.9990    2.41M
26-Sep-19  1.0005  1.0008  0.9987    1.31M
...           ...     ...     ...      ...
27-Mar-22  1.0005  1.0006  1.0003   62.10M
28-Mar-22  1.0004  1.0006  1.0002  272.92M
29-Mar-22  1.0005  1.0006  1.0003  269.51M
30-Mar-22  1.0004  1.0005  0.9998  153.50M
31-Mar-22  1.0003  1.0005  1.0002  136.75M

[918 rows x 20 columns]

In [ ]:
#crypto data